<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
  <h3>Content:</h3>
  <%= @post.content %><br><br>
  <%posts = PostTag.where(post_id: @post.id) %>
  <%if posts.length > 0%>
  <h4>Post Tags</h4>
    <%posts.each do |postie|%>
    <%= Tag.find(postie.tag_id).name%><br>
    <%end%>

    
  <% end%>
    <%one_post_id = @post.id%>
  <%my_tag = PostTag.where(post_id: one_post_id)%>
  
  <%if my_tag.length != 0%>
  <h4>Tag Count</h4>
  <%= my_tag.length%>
  <%end%>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
